* {
  text-align: center;
  padding: 0 2rem;
}
.Heading {
  color: #000000;
  font-weight: 700;
  font-style: normal;
  font-size: 2.5rem;
}
.Subheading {
  color: #3d3d3d;
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  margin-top: 1rem;
  padding: 0 10rem;
}
